<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

<section class="card">
    <header>Enter your comment:</header>
    <form action="" class="form-submit">
    <textarea name="commentbox" id="comment-box" cols="100" rows="5"></textarea>
    <br>
    <button type="submit" id="submit-comment">Post a Comment</button>
    </form>
</section>

{{!-- verifies if the author is the same as the user accessing the blog, and then uses the comment partial, or not --}}
{{#each comments as |comment| }}
<div class="row mb-4 project">
  <div>
  {{comment.comment}}
  </div>
</div>
{{/each}}  
  
  {{#verify_author author_id user_id}}

  {{else}}
  
  {{/verify_author}}

</div>
  <script src="/js/blog.js"></script>


